@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

body {
    font-family: inter;

    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1E4A9F;

}

#nav {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#logo img {
    height: 100%;
}
#login-btn {
    font-family: Inter;
    font-size: 15px;

    font-weight: 500;
    color: #FF7F4F;
    background-color: #1E4A9F;
    border : 2px solid #FF7F4F;
    border-radius: 20px;
    padding: 4px 15px;
}
#register-btn {
    margin-left: 15px;
    font-size: 15px;

    font-family: Inter;
    font-weight: 500;
    color: #1E4A9F;
    background-color: #FF7F4F;
    border : 2px solid #FF7F4F;
    border-radius: 20px;
    padding: 4px 6px;
}
#nav-btn {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;

}

#middle {
    display: flex;
    width: 100%;
    height: 45%;

}
#middle img {
    margin-left: 200px;
    height: 100%;
    font-family: jose;
}

#slogan-div {
    font-family: "Josefin Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slogan-div h1{
    font-size: 40px;
}
#search {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
}
#search img {
    padding-left: 15px;
    height: 85%;
    border-radius: 0 20px 20px 0;
}

#searchbar_extension {
    display: flex;
    align-items: center;
    border-radius: 0 30px 30px 0;
    width: 80px;
    background-color: white;
}
#search input {
    padding-left: 20px;
    font-size: 20px;
    color: #8E8E8E;
    width: 600px;
    border-radius: 30px 0 0 30px;
}
#search input:focus {
    outline: none;
}

#line-left, #line-right {
    margin: 0 15px 0 15px;
    width: 550px;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}
#popular-text {
    margin-top: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#products {
    display: flex;
    justify-content: center;

    width: 100%;
}

#popular {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    border-radius: 5px;
}
#product-image {
    width: 80%;
}
#review-image {
    width: 55%;
    align-self: self-start;
    margin-left: 10px;
}
#name-price {
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-size: 14px;
}
#store-name {
    width: 90%;
    font-size: 14px;
}